@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;

}